@media only screen and (max-width:1000px) and (min-width:860px) {

    .login-page .left{
        padding-left: 45px;
    }
    .login-page .left h3{
        font-size: 50px;
    }
    .login-page .left h2{
        font-size: 66px;
    }
}
@media only screen and (max-width:860px) and (min-width:480px) {
    .course-main {
        width: 100%;
        padding-right: unset;
    }

    .coaches-dropdown .pl-0 {
        gap: 10px;
        justify-content: space-around;
    }

    .course-main .package-count {
        font-size: 12px !important;
    }

    .radios {
        gap: unset;
        justify-content: space-around;
    }

    .package-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .package .bottom .ribbon h4 {
        font-size: 8px;
    }

    .package .bottom .ribbon {
        padding: 6px 10px;
        top: 50%;
    }

    .package h4 {
        font-size: 12px;
    }

    .course-main {
        width: 100%;
        padding: 15px;
    }

    .course_details .row {
        flex-direction: row;
    }

    .course-details .action-zone-add-student-body .list h3 {
        font-size: 7px;
    }

    .course_details .row .col-4 {
        margin-top: 40px;
        width: 100% !important;
        max-width: 100%;
    }

    .course_details .row .col-8 {
        margin-top: 40px;
        width: 100%;
        max-width: 100%;
    }

    .course_details .package .bottom .ribbon {
        padding: 10px;
        top: 0%;
    }

    .course_details .package .bottom .ribbon h4 {
        font-size: 12px;
    }

    .course_details .nav-pills .nav-link {
        padding: 0.5rem 1rem;
    }

    .course_details .nav-pills {
        margin-bottom: 40px;
    }

    .batch-add-student .dashboard {
        flex-direction: row;
    }

    .batch-add-student .dashboard .item {
        padding: 7px;
        margin-top: 0;

    }

    .batch-add-student .dashboard .item .subheading {
        font-size: 11px !important;
    }

    .batch-add-student .dashboard .item .mt-2 {
        font-size: 10px;
    }

    #add-student-to-batch .two-lists {
        flex-direction: row;
    }

    #add-student-to-batch .second-row .student {
        transform: translateY(0px) !important;
    }

    #add-student-to-batch .second-row {
        margin-top: 0px;
    }

    #assign-coach-to-batch .two-lists {
        flex-direction: column;
    }

    #assign-coach-to-batch .student {
        transform: translateY(0px) !important;
    }

    #assign-coach-to-batch .second-row {
        margin-top: 50px;
    }

    #payment-status table td,
    #payment-status table th {
        padding: 5px;
        font-size: 12px;
    }

    #payment-status .dashboard .box .money {
        font-size: 11px;
    }

    #payment-status .dashboard .box .des {
        font-size: 10px;
    }

    .add-course .form-container .form-body {
        padding: 2rem;
        width: 100%;
    }

    .discount-text .count {
        padding: 14px;
    }

    .week .day {
        width: 24px;
        height: 32px;
        padding: 8px;
        font-size: 10px;
    }

    .top-search input {
        font-size: 10px;
        padding-right: 0px;
    }

    .times .time .duration h4,
    .ground-lanes .lane h4 {
        font-size: 13px;
    }

    .lane-table tbody tr td {
        padding-left: 0px !important;
        font-size: 13px;
    }

    .lane-table tbody tr td label {
        font-size: 13px;
    }

    .lane-table th {
        padding: 10px 7px 9px 20px;
        font-size: 13px;
    }

    .billing .main-tab .nav-link {
        padding: 0.5rem 1rem;
    }

    .student-list input[type="range"] {
        width: 40%;
    }

    .student-list .full h4 {
        padding: 6px;
        font-size: 8px !important;
    }

    .billing-table tbody tr td {
        padding: 5px;
        font-size: 8px;
    }

    .billing-header {
        padding: 10px 0px 15px 0px;
    }

    .billing-table thead th {
        font-size: 9px;
    }

    .course-based-dashboard {
        padding: 10px;
        flex-direction: row;
        align-items: start;
    }

    .course-based-dashboard .item {
        padding: 4px 0px;
    }

    .course-based-dashboard .item h4.bold {
        font-size: 12px;
    }

    .course_name .nav-item .nav-link {
        font-size: 8px;
        padding: unset;
    }

    .course-based-table {
        margin-top: 20px;
    }

    #coach .top-section {
        padding: 5px;
    }

    #coach .top-section .right select {
        width: 100% !important;
        font-size: 12px;
    }

    #coach .top-section .profile {
        flex-direction: column;
    }

    #coach .top-section .right .mpt {
        font-size: 12px;
    }

    #coach .top-section .right {
        flex-direction: column;
        justify-content: space-evenly;
    }

    #payment-details .dashboard .item-name {
        font-size: 12px;
    }

    #payment-details .dashboard {
        padding: 13px 0px;
    }

    #payment-details .modal-dialog .modal-content .modal-body {
        padding: 15px 5px 80px 5px;
    }

    #payment-details table tbody td {
        font-size: 13px;
    }

    #payment-details .dashboard .des {
        font-size: 11px;
    }

    #payment-details .top-section .batch .batch-time h4,
    #payment-details .top-section .course .course-name h4 {
        font-size: 10px;
    }

    .table-container {
        overflow-x: auto;
    }

    .table-container::-webkit-scrollbar {
        display: none;
    }

    .billing-header .profile h4 {
        font-size: 12px;
    }

    #coach-payment-details .dashboard .item-name {
        font-size: 12px;
    }

    #coach-payment-details .dashboard {
        padding: 13px 0px;
    }

    #coach-payment-details .modal-dialog .modal-content .modal-body {
        padding: 15px 5px 80px 5px;
    }

    #coach-payment-details table tbody td {
        font-size: 13px;
    }

    #coach-payment-details .dashboard .des {
        font-size: 11px;
    }

    #coach-payment-details .top-section .batch .batch-time h4,
    #coach-payment-details .top-section .course .course-name h4 {
        font-size: 10px;
    }

    .invoice-table thead th {
        font-size: 12px;
    }

    #invoice-format .w-20 {
        width: 16%;
    }

    .invoice-container {
        padding: 10px 0px;
    }

    .invoice-full .back-button {
        left: -45px;
    }

    .invoice-container .headings .bottom-top {
        flex-direction: row;
        align-items: start;
        row-gap: 10px;
    }

    .invoice-container .headings .bottom-top .item .profile {
        margin-top: 10px;
    }

    .invoice-full {
        width: 85%;
    }

    .pdf-buttons .left button {
        padding: 7px;
        font-size: 8px;
    }

    .pdf-buttons .right button {
        padding: 6px 17px;
    }

    .pdf-buttons .left {
        column-gap: 5px;
    }

    .pdf {
        padding: 20px;
    }

    .pdf .header h2 {
        font-size: 25px;
    }

    .bottom-table tbody tr td {
        font-size: 12px;
    }

    .course-details .action-zone-add-student-body .list .person h4 {
        font-size: 10px;
    }

    .coach-workstation .students-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .coach-workstation {
        padding: 1.5rem 1rem 1.5rem 1rem;
    }

    .coach-workstation .full-view .left-profile {
        width: 30%
    }

    .coach-workstation .full-view .left-profile .profile h3 {
        font-size: 17px;
    }

    .coach-workstation .full-view .left-profile .profile p {
        font-size: 12px;
    }

    .coach-workstation .full-view .left-profile .buttons button img {
        width: 10px;
    }

    .coach-workstation .full-view .left-profile .buttons button {
        font-size: 9px;
    }

    .coach-workstation .full-view .right-content .nav-pills .nav-link {
        font-size: 10px;
    }

    .coach-workstation .full-view .right-content .nav-pills .nav-link {
        padding: 0.2rem 0.5rem;
    }

    .coach-workstation .full-view .right-content .tab-content .assignment .top-clicks .create-new {
        padding: 10px;
        font-size: 11px;
    }

    .coach-workstation .full-view .right-content .tab-content .assignment table tbody tr td {
        font-size: 12px;
    }

    .coach-workstation .full-view .right-content .tab-content .assignment table thead tr th {
        font-size: 12px;
    }

    .coach-workstation .full-view .right-content .tab-content .assignment table tbody tr td p {
        width: 80px;
        font-size: 12px;
        padding: 1px 18px;
    }

    .coach-workstation .full-view .right-content .tab-content .annotated-videos .topper .selects select {
        width: 100px !important;
        font-size: 9px;
        padding: 5px 2px;
    }

    .coach-workstation .full-view .right-content .tab-content .courses table thead tr th {
        font-size: 11px;
    }

    .coach-workstation .full-view .right-content .tab-content .courses table tbody tr td {
        font-size: 11px;
    }

    .coach-workstation #generate-report .modal-body .column-container {
        flex-direction: column;
    }

    .coach-workstation #generate-report .modal-body .left {
        width: 100%;
    }

    .coach-workstation #generate-report .modal-body .right {
        width: 100%;
    }

    .coach-workstation .full-view .right-content .tab-content .goal-tab-container .goal-list {
        flex-direction: column;
        align-items: start;
    }

    .coach-workstation .full-view .right-content .tab-content .goal-tab-container .goal-list .title p {
        margin-bottom: 0;
    }

    .coach-workstation .full-view .right-content .tab-content .reports table tbody tr td {
        font-size: 11px;
    }

    .chat-page .chat-container .all-chats .nav-item .nav-link .chatter img {
        width: 20px;
        height: 20px;
    }

    .chat-page .chat-container .all-chats .nav-item .nav-link .chatter .text p {
        font-size: 8px;
    }

    .chat-page .chat-container .all-chats .nav-item .nav-link .chatter .text h3 {
        font-size: 11px;
    }

    .chat-page .chat-container .all-chats .nav-item .nav-link .date {
        font-size: 8px;
    }

    .chat-page .chat-container .all-chats .nav-item .nav-link .date-count .count {
        font-size: 8px;
        width: 12px;
        height: 12px;
    }

    .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
        margin-left: auto;
    }

    .assignment-page .contents .tab-pane .select-buttons .selects select {
        padding: 6px 30px 6px 10px;
    }

    .assignment-page .contents .tab-pane .select-buttons a {
        font-size: 11px;
    }

    .assignment-page .tab-section .nav-pills .nav-item p {
        font-size: 12px;
    }
    .video-analyzer .tab-section .nav-pills .nav-item p{
        font-size: 12px;
    }
    .video-analyzer .tab-section .nav-pills .nav-item .nav-link{
        height: 120px;
    }
    .notification-page .full-container .tab-section .nav-pills .nav-item .nav-link{
        padding: 10px 0px 10px 10px;
        grid-template-columns: repeat(2,1fr);
    }
    .notification-page .full-container .tab-section .head .item:nth-child(2){
        display: none;
    }
    .notification-page .full-container .tab-section .nav-pills .nav-item .nav-link .item:nth-child(2){
        display: none;
    }
    .notification-page .full-container .tab-section .head{
        grid-template-columns: repeat(2,1fr);
    }
    .notification-page .full-container .tab-section{
        width: 40%;
    }
    .notification-page .full-container .contents .body-content .message{
        width: 50%;
    }
    .notification-page .full-container .contents .body-content .tables table tbody tr td .profile p{
        font-size: 12px;
    }
    .notification-page .full-container .contents .body-content .tables table tbody tr td .status{
        font-size: 12px;
    }
    .notification-page .full-container .contents .body-content .tables table tbody tr td .status.no img{
        width: 8px;
    }
    .notification-page .full-container .contents .body-content .tables table tbody tr td .status{
        width: 55px;
    }
    .notification-page .full-container .contents .body-content .tables{
        width: 50%;
    }
    .notification-page .full-container .contents{
        width: 60%;
    }
    .send-notification-page .profile-container{
        grid-template-columns: repeat(5,1fr);
    }
    .package .course-details{
        flex-wrap: wrap;
    }
    .course-main .table-container table tbody tr td p.partially-paid{
        font-size: 11px;
    }
    .course-main .table-container table tbody tr td p.paid{
        font-size: 11px;
    }
    .login-page .left h3{
        font-size: 35px;
    }
    .login-page .left h2{
        font-size: 47px;
    }
    .login-page .left p{
        font-size: 18px;
        line-height: 25px;
    }
    .login-page .right{
        padding: 50px 30px;
    }
    .register-page .right .content .inputs label p{
        font-size: 11px;
    }
    .register-page .right .content .password .pass label input{
        padding: 5px;
    }
    .register-page .right .content .password .pass label input::placeholder{
        font-size: 12px;
    }
    .register-page .right .content .password .pass-container .details .lists .list p{
        font-size: 12px;
    }
    .register-page .right .content .password .pass label{
        font-size: 14px;
    }
    .register-page .right .content .conditions{
        font-size: 13px;
    }

}